<!DOCTYPE html>
<html lang="en" data-theme={% block theme %}{% endblock %}>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} - TheraTrack</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>💆</text></svg>">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        {% block stylesheets %}{% endblock %}
            {{ vite_entry_link_tags('app') }}
        {% block javascripts %}{% endblock %}
            {{ vite_entry_script_tags('app') }}
    </head>
    <body class="min-h-screen bg-base-200">
        {% block base %}{% endblock %}
    </body>
</html>
